* {
  padding: 0%;
  margin: 0%;
}
body {
  background: linear-gradient(to right, black , red);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 0%;
  background: linear-gradient(to right , #faa307  10% , red)
}

img {
  height: 6%;
  width: 6%;
}

h1 {
  margin-top: 2%;
  font-weight: bold;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li{
  list-style: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
  padding: 2%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -11%;
  margin-right: -9%;
  list-style: none;
  text-decoration: none;
  font-size: 117%;
  font-weight: bold;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: -2%;
  margin-right: 7px;
}

.lautaro{ 
  width: 36%;
  height: 87%;
  margin-left: 48%;
  margin-top: 10%;
  border-radius: 45%;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 9%;
}

.article1 {
  margin-right: 33%;
  margin-top: 13%;
}

.boton{ 
  margin-top: 19%;
  padding: 7%;
  background: linear-gradient(to left, #e85d04 , #faa307);
  color: white;
  font-weight: bold;
  font-size: 95%;
  border: red;
}

.article1 h2 {
  font-size: 220%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 5%;
  margin-left: -5%;
  color: white;
}

.article1 h3 {
  font-size: 184%;
  margin-top: 10%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}


.seccion2 {
  text-align: center;
  margin-top: 5%;
  background: linear-gradient(to right, #e85d04 , #faa307);
  padding: 2%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.4);
}

.seccion2 p {
  width: 38%;
  margin-left: 31%;
  margin-top: 2%;
  font-weight: bold;
  font-size: 114%;
}


.skills {
  color: white;
  padding: 5%;
  margin-left: 31%;
  margin-top: 7%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 30%;
  background:linear-gradient(to left , #e85d04 , #faa307);
  border-radius: 9%;
}

.skills img {
  height: 24%;
  width: 25%;
}

.skills h2 {
  text-align: center;
}

.skills1 {
  text-align: center;
  margin-top: 2%;
  padding: 0%;
}

.skills2 {
  margin-top: 10%;
  text-align: center;
  margin-left: 2%;
}


.seccion4 {
  text-align: center;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(to left , #e85d04 , #faa307);
  font-weight: bold;
  padding: 2%;
  margin-top: 7%;
}

.seccion4 p {
  margin-left: 26%;
  margin-right: 26%;
  margin-top: 3%;
  font-size: 114%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.card {
  padding: 13px;
  background: linear-gradient(to right , #e85d04 , #faa307);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3%;
}

.botonProject {
  margin-left: 38%;
  background: linear-gradient(red , orange , transparent);
  border: #ffba08;
  padding: 3%;
  color: white;
  font-weight: bold;
}

.card-img-top {
  height: 35%;
}

.seccion5 {
  margin-top: 6%;
}

.seccion5 h2 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 220%;
  color: white;
}

.card-body h5 {
  font-weight: bold;
  color: white;
}

.card-body p {
  font-weight: bold;
  color: white;
}

.certificates{
  text-align: center;
  background: linear-gradient(to left, #e85d04 , #faa307);
  padding: 2%;
  margin-top: 8%;
}

.certificates h2 {
  color: white;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 220%;
}

.certificates1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(to left,  #e85d04 , #faa307);
}



.certificates1 img{
  width: 33%;
  height: auto;
}

form {
  background: linear-gradient(to right, #ffba08 , #e85d04);
  width: 29%;
  padding: 2%;
  border-radius: 7%;
  margin-top: 8%;
  margin-left: 3%;
}

form h2 {
  font-weight: bold;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 220%;
  text-align: center;
}

